.bgimg{
    background-image: url(../Images/Firstsection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 7;
    height: 100vh;
    width: 98.8vw;
}
.mainContainer .Nav .nav{
    height: 5rem;
}
.Nav .nav .navlogo > img{
    margin-left: 7rem;
    padding-top: 1.4rem;
}
nav{
    transition:all 0.3s;
    position: sticky;
    width: 98.8vw;
    height: 15.8vh;
}
nav:hover{
    transition: all 0.5s;
    background-color: rgb(215, 215, 215);
}
.nav{
    color: rgba(0, 0, 0, 0.6);
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.nav .nav-items{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav .nav-items a, .where{
    text-decoration: none;
    color: #1e3932;;
    margin:0 10px;
}
.nav .nav-items > a{
    padding-left: 2rem;
    padding-top: 1.4rem;
    font-weight: 500;
    font-size: large
}
.left{
    float: left;
}
.right{
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    padding-top: 1.4rem;
}