/* Third section */
#2ndimg{
    bottom: 50px;
}
.leftsecond{
    float: left;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.rightsecond{
    float: right;
    text-align: center;
    width: 950px;
    margin: auto;
    margin-left: 30px;
    margin-right: 90px;
    justify-content: center;
    align-items: center;
}
.section .rightsecond h1{
    width: 600px;
    letter-spacing: 2px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .rightsecond > p{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}
/* Third section */