@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
    background-color: black;
    color: #fff;
}
.margin{
  height: 8px;
  width: 100%;
  background-color: rgb(48, 48, 48);
}
.section{
  box-sizing: border-box;
  display: flex; 
  border-top: 10px;
  border-bottom: 10px;
}
.bgimg{
  background-image: url(../Images/Firstsection.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 7;
  height: 100vh;
  width: 98.8vw;
}
 .title{
  padding: 70px 45px;
}
.title .content{
  width: 950px;
  margin: auto;
  padding: 75px 0;
  text-align: center;
}
.title .content h1{
  line-height: 60px;
  padding: 10px;
  width: 650px;
  margin: auto;
  font-size: 3.1rem;
  text-align: center;
}
.title .content h2{
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}
.title .content form h3{
  font-size: 1.1em;
  margin: 18px 0;
  text-align: center;
}
.Nav .nav .navlogo > p{
  color: rgb(129, 129, 129);
  font-size: 30px;
  margin-left: 7rem;
  padding-top: 1.4rem;
}
nav{
  transition:all 0.5s;
  position: sticky;
  width: 98.8vw;
  height: 15.8vh;
}
.nav .navlogo{
  float: left;
  padding-right: 50rem;
}
/* nav:hover{
  transition: all 0.5s;
  background-color: rgb(196, 196, 196);
} */
.nav{
  color: rgba(0, 0, 0, 0.6);
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-items{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-items a, .where{
  text-decoration: none;
  color: #1e3932;;
  margin:0 10px;
}
.nav .nav-items > a{
  padding-left: 2rem;
  padding-top: 1.4rem;
  font-weight: 500;
  font-size: large
}
.nav{
  display:flex;
}
/* .left{
  float: left;
} */
.right{
  justify-content: center;
  align-items: center;
  padding-left: 6rem;
  padding-top: 1.4rem;
}
.right > p > a{
  text-decoration: none;
  font-size: 25px;
  /* font-weight: bolder; */
  color: brown;
}

.email > a{
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: brown;
}

/* First */
.first{
  text-align: center;
  padding: 30px;
}
.first >header{
  padding: 5px;
  font-size: 20px;
  font-weight: 900;
}
.first > p{
  padding-left: 200px;
  padding-right: 200px;
}
/* First */

/* Third */
.section .leftthird{
  float: left;
  text-align: center;
  width: 950px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 90px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
  width: 50%;
}   
.section .rightthird{
  margin-top: 50px;
  margin-left: 70px;
  width: 50%;
}
.section .leftthird > h1{
  width: 600px;
  letter-spacing: 2px;
  margin: auto;
  font-size: 3.1rem;
  text-align: center;
}
.section .righthird > p{
  width: 650px;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}
/* Third */

#2ndimg{
  bottom: 50px;
}
.leftsecond{
  float: left;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.rightsecond{
  float: right;
  text-align: center;
  width: 950px;
  margin: auto;
  margin-left: 30px;
  margin-right: 90px;
  justify-content: center;
  align-items: center;
}
.section .rightsecond h1{
  width: 600px;
  letter-spacing: 2px;
  margin: auto;
  font-size: 3.1rem;
  text-align: center;
}
.section .rightsecond > p{
  width: 650px;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}

/* login */
.loginlink{
  padding: 30px;
  text-align: center;
}
.loginlink > a{
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(110, 109, 109);
}
/* login */

/* Tutorial */
.fourth{
  text-align: center;
  padding: 50px;
}
.fourth-img{
  padding-top: 60px;
}
/* Tutorial */

/* fifth section */
.details{
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 150px;
}
.details h1{
  padding: 60px;
  font-size: 40px;
}
.container .title{
  padding: 70px 45px;
}
.container .title .content{
  width: 950px;
  margin: auto;
  padding: 75px 0;
  text-align: center;
}
.container .title .content h1{
  width: 650px;
  margin: auto;
  font-size: 3.1rem;
  text-align: center;
}
.container .title .content h2{
  width: 650px;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
}
.summary{
  height: 60px;
  width: 800px;
  margin: auto;
  padding: 20px;
  font-size: 30px;
  outline: none;
  text-align: left;
  padding-bottom: 50px;
  margin-bottom: 8px;
  /* box-sizing: border-box; */
  background-color: rgba(63, 61, 61, 0.733);
}
.summaryptag{
  height: auto;
  width: 800px;
  margin: auto;
  padding: 20px;
  font-size: 30px;
  outline: none;
  text-align: left;
  /* padding-bottom: 50px; */
  margin-bottom: 8px;
  /* box-sizing: border-box; */
  background-color: rgba(63, 61, 61, 0.733);
}
/* fifth section */

/* Footer */
.list{
  color:rgb(110, 109, 109);
  padding-left: 15rem;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.list .lastcontainer >p{
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}
.list .lastcontainer >p >a{
  text-decoration: none;
  color: rgb(110, 109, 109);
}
.list .lastcontainer .lastcontainerlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#img{
  position: relative;
  bottom: 100px;
  text-align: center;
} 
.list .lastcontainer .lastcontainerlist .griditems .lastcontainerlistcontents{
  padding: 10px;
  font-size: 15px;
}
.padding{
  padding-top: 20px;
  font-size: 13px;
}
#h6{
  text-align: center;
  color: rgb(153 153 153);
  font-weight: 100;
  padding-left: 20%;
  padding-right: 28%;
  margin-top: 40px;
  padding-bottom: 20px;
}
/* Footer */