.section .leftthird{
    float: left;
    text-align: center;
    width: 950px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 90px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    width: 50%;
}   
.section .rightthird{
    margin-top: 50px;
    margin-left: 70px;
    width: 50%;
}
.section .leftthird > h1{
    width: 600px;
    letter-spacing: 2px;
    margin: auto;
    font-size: 3.1rem;
    text-align: center;
}
.section .righthird > p{
    width: 650px;
    margin: auto;
    font-size: 1.6rem;
    text-align: center;
}